.body__top {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	align-items: center;
	margin-left: auto;
	padding: 1rem;
	padding-top: 3rem;
}

.body__form {
	flex: 1;
}

.body__form-input {
	font-size: 18px;
	border: none;
	border-bottom: rgb(49, 49, 49) 2px solid;
	margin-right: 5px;
	padding-bottom: 5px;
	width: 500px;
	transition: border-bottom 200ms ease-in;
}

.body__form-input:focus {
	outline: none;
	border-bottom: #f81c00 3px solid;
}

.body__form-botton {
	padding: 8px 10px;
	background-color: #f81c00;
	border: none;
	border-radius: 2px;
	color: #fff;
}

.body__form-botton:active,
.body__form-botton:focus {
	outline: none;
}

.body__task-progress {
	background-color: #ffe4c9cc;
	height: 80px;
	width: 150px;
	text-align: center;
	line-height: 80px;
	margin-right: 3rem;
	border-radius: 5px;
}

.body__task-progress span {
	font-weight: bold;
	color: #f81c00;
}

.body__no-tasks {
	text-align: center;
}

.body__image {
	width: 90%;
	max-height: 550px;
	object-fit: contain;
	max-width: 900px;
}

.body__no-tasks h1 {
	color: #f81c00;
}

.body__no-tasks p {
	font-weight: 18px;
	font-weight: bold;
	line-height: 1.3;
	letter-spacing: 1px;
	color: rgb(49, 49, 49);
}

@media only screen and (max-width: 850px) {
	.body__top {
		flex-direction: column;
		align-items: center;
	}

	.body__form {
		padding-bottom: 2rem;
		text-align: center;
		width: 100%;
	}

	.body__form-input {
		width: 90%;
		margin: 0 1rem 1rem 1rem;
	}

	.body__form-botton {
		margin-right: 3rem;
	}
}
